doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Add Doll Form
  // Bootstrap CSS
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
  // Custom CSS
  link(rel='stylesheet' href='styles.css')
// Navigation Bar
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='#') Doll Shop
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') Products
      li.nav-item
        a.nav-link(href='#') Contact
// Add Doll Form
.container.mt-5
  .row.justify-content-center
    .col-md-6
      h2.mb-4 Add Doll
      form
        .form-group
          label(for='dollName') Doll Name
          input#dollName.form-control(type='text' placeholder='Enter doll name')
        .form-group
          label(for='dollDescription') Description
          textarea#dollDescription.form-control(rows='3' placeholder='Enter description')
        .form-group
          label(for='dollPrice') Price
          input#dollPrice.form-control(type='text' placeholder='Enter price')
        button.btn.btn-primary(type='submit') Submit
// Footer
footer.footer
  .container
    span.text-muted &copy; 2024 Doll Shop. All Rights Reserved.
// Bootstrap JS and dependencies
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
