<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration form</title>
</head>
<body>
    <form action="/register"method-post>
        <form id="loginForm">
            <div class="form-group">
                <label for="name">fullname</label>
                <input type="text" id="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" id="email" class="form-contrel" required>
                <label for="password">password</label>
                <input type="password" id="password" class="form-control" required>
                <label for="text">role</label>
                <input type="text" id=" Admin role" class="form-contrel" required>
                <label for="button">register</label>
                <input type="button" id="register" class="form-contrel" required>
                
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>  
    </form>
    
</body>
</html>