doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Babysitter List
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="#") Babysitter List
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/add") Add Sitter
    div.container.mt-5
      h2.mb-4 Babysitter List
      table.table.table-striped
        thead
          tr
            th Name</th>
            th Gender</th>
            th Age</th>
            th Parent's Name</th>
            th Location</th>
            th Babies Number</th>
            th Status</th>
            th Actions</th>
        tbody
          tr
            td Emma</td>
            td Female</td>
            td 6 months</td>
            td John Doe</td>
            td New York</td>
            td 001</td>
            td Checked In</td>
            td
              a.btn.btn-info(href="/checkin/001") Check-In</a>
              a.btn.btn-warning(href="/update/001") Update</a>
              a.btn.btn-danger(href="/delete/001") Delete</a>
    footer.mt-5.bg-light.text-center
      p &copy; 2024 Babysitter List. All rights reserved.

  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
