doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Daystar Daycare Sitter Registration
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='regsittters.css')
.container.mt-5
  h2.text-center.mb-4 Sitter&apos;s Registration Form
  form#sitterRegistrationForm.needs-validation(novalidate='')
    .mb-3
      label.form-label(for='Julie') Name
      input#Julie.form-control(type='text' required='')
    .mb-3
      label.form-label(for='kabalagala') Location
      input#kabalagala.form-control(type='text' required='')
    .mb-3
      label.form-label(for='dob') Date of Birth
      input#dob.form-control(type='date' required='')
    .mb-3
      label.form-label(for='gender') Gender
      select#gender.form-select(required='')
        option(value='') Select...
        option Male
        option Female
    .mb-3
      label.form-label(for='Julie') Next of Kin
      input#Julie.form-control(type='text' required='')
    .mb-3
      label.form-label(for='123456780') NIN
      input#123456780.form-control(type='text' required='')
    .mb-3
      label.form-label(for='Julie') Recommender&apos;s Name
      input#Julie.form-control(type='text' required='')
    .mb-3
      label.form-label(for='Religion') Religion
      select#Religion.form-select(required='')
        option(value='') Select...
        option Molem
        option Chritian
        option Catholic
        option Born again
    .mb-3
      label.form-label(for='pre-primary') level of education
      input#pre-primary.form-control(type='text' required='')
    .mb-3
      label.form-label(for='002') Sitter&apos;s Number
      input#002.form-control(type='text' required='')
    .mb-3
      label.form-label(for='0782723688') Contacts
      input#0782723688.form-control(type='tel' required='')
    button.btn.btn-primary(type='submit') Register
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js')
script(src='regsiters.js')
