doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Daystar Daycare Sitter Registration
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/regsitter.css')
  body
    .container.mt-5
      h2.text-center.mb-4 Sitter's Registration Form
      form#registrationForm(action='/sitter', method='POST')
        .mb-3
          label.form-label(for='name') Name
          input#name.form-control(type='text', name="name")
        .mb-3
          label.form-label(for='location') Location
          input#location.form-control(type='text', name="location")
        .mb-3
          label.form-label(for='dob') Date of Birth
          input#dob.form-control(type='date', name="dob")
        .mb-3
          label.form-label(for='gender') Gender
          select#gender(name=gender)
            option(value='', selected disabled) Select...
            option(value='male') Male
            option(value='female') Female
        .mb-3
          label.form-label(for='nextOfKin') Next of Kin
          input#nextOfKin.form-control(type='text', name="nextofkin")
        .mb-3
          label.form-label(for='nin') NIN
          input#nin.form-control(type='text', required='')
        .mb-3
          label.form-label(for='recommenderName') Recommender's Name
          input#recommenderName.form-control(type='text', name="recommendername")
        .mb-3
          label.form-label(for='religion') Religion
          select#religion(name="religion")
            option(value='', selected disabled) Select...
            option(value='molem') Molem
            option(value='christian') Christian
            option(value='catholic') Catholic
            option(value='bornAgain') Born again
        .mb-3
          label.form-label(for='educationLevel') Level of Education
          input#educationLevel.form-control(type='text',name="educationlevel")
        .mb-3
          label.form-label(for='sittersNumber') Sitter's Number
          input#sittersNumber.form-control(type='text', name="sitternumber")
        .mb-3
          label.form-label(for='contacts') Contacts
          input#contacts.form-control(type='tel', name="contacts")
        button.btn.btn-primary(type='submit') Register
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js')
    script(src='regsiters.js')
