doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Babysitter Management System
  // Bootstrap CSS
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Babysitter Management
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='check.html') Update
      li.nav-item
        a.nav-link(href='check.html') Delete
      li.nav-item
        a.nav-link(href='check.html') Check
.container.mt-5
  h2.mb-4 Update Babysitter Details
  form#registrationForm(action= '/sitterUpdate?id='+sitter._id  method='POST')
    .form-group
      label(for='name') Name
      input#name.form-control(type='text' placeholder='Enter name' name='name' value=sitter.name)
    .form-group
      label(for='age') Age
      input#age.form-control(type='number' placeholder='Enter age' name='age' value=sitter.age)
    .form-group
      label(for='contact') Contact Number
      input#contact.form-control(type='tel' placeholder='Enter contact number' name='contacts' value=sitter.contacts)
    .form-group
      label(for='address') Address
      input#address.form-control(type='text' placeholder='Enter address' name='locationr' value=sitter.location)
    button.btn.btn-primary(type='submit') Update
footer.mt-5.bg-light.text-center
  p &copy; 2024 Babysitter Management System. All rights reserved.
// Bootstrap JS and dependencies
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
