body {
    background-image: url('/images/babie.jfif'); /* Link to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: #333;
}

footer {
    background-color: #333;
    color: rgba(255, 255, 255, 0.904);
    text-align: center;
    padding: 10px;
}
